:root {
  --yellow: #f4d04e;
  --dark-grey: #111111;
  --light-grey: #6b6b6b;
  --white: #ffffff;

  --spacing-200: 24px;
  --spacing-150: 12px;
}

body {
  background-color: var(--yellow);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  width: 327px;
  border-radius: 20px;
  box-shadow: 8px 8px var(--dark-grey);
  padding: 24px 24px 24px 24px;
  overflow: hidden;
}

.illustration {
  width: 100%;
  align-self: center;
  border-radius: 10px;
  display: block;
}

.content {
  margin-top: 24px;
  gap: 12px;
}
.tag {
  display: inline;
  background-color: #f4d04e;
  font-family: 'Figtree', sans-serif;
  padding: 4px 12px 4px 12px;
  font-size: 12px;
  font-weight: 800;
  line-height: 150%;
  border-radius: 4px;
}

.date {
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--dark-grey);
}

h1 {
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
  color: var(--dark-grey);
}

h1:hover {
  color: var(--yellow);
}

.description {
  font-family: 'Figtree', sans-serif;
  color: var(--light-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Figtree', sans-serif;
  color: var(--dark-grey);
  font-weight: 800;
  font-size: 14px;
}

.author-name {
  padding: 0px 0px 0px 12px;
}

.avatar {
  width: 32px;
  height: 32px;
}

@media all and (min-width: 500px) {
  .card-container {
    width: 384px;
  }

  .illustration {
    width: 100%;
  }

  .tag {
    font-size: 14px;
  }

  .date {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}
